# TextXrestormer model training configuration
# for sota performance rep
name: Text_XRestormer
experim_name: Experiments/Text_XRestormer_SSA
net_parent: Text_XRestormer
net_distill: XRestormer
loss: Loss_TextFusion
tags: EXP_Text_XRestormer_ssa_enhanced_configs_plus_plus
train_dataset: MSRS
val_dataset: MSRS
test_dataset: MSRS
train_batch_size: 4
val_batch_size: 1
num_workers: 8
drop_last: false
scale: 1
save_path: ./save_images/text_xrestormer/MSRS_train/
current_epoch: 0

# Model parameters
text_xrestormer_params:
  inp_A_channels: 3
  inp_B_channels: 1
  out_channels: 3
  dim: 48
  num_blocks: [2,2,2,2]
  num_refinement_blocks: 4
  channel_heads: [1,2,4,8]
  spatial_heads: [2,2,3,4]
  overlap_ratio: [0.5,0.5,0.5,0.5]
  window_size: 8
  spatial_dim_head: 16
  ffn_expansion_factor: 2.66
  bias: false
  LayerNorm_type: WithBias
  cross_attention_type: SSA
  fusion_type: spatial_attention

distill_params:
  inp_A_channels: 3
  inp_B_channels: 1
  out_channels: 3
  dim: 16
  num_blocks: [2,2,2,2]
  num_refinement_blocks: 2
  channel_heads: [1,2,4,8]
  spatial_heads: [2,2,3,4]
  overlap_ratio: [0.5,0.5,0.5,0.5]
  window_size: 8
  spatial_dim_head: 16
  ffn_expansion_factor: 2
  bias: false
  LayerNorm_type: WithBias
  cross_attention_type: SSA
  fusion_type: spatial_attention
  # inp_A_channels: 3
  # inp_B_channels: 1
  # out_channels: 3
  # dim: 48
  # num_blocks: [2,2,2,2]
  # num_refinement_blocks: 4
  # channel_heads: [1,2,4,8]
  # spatial_heads: [2,2,3,4]
  # overlap_ratio: [0.5,0.5,0.5,0.5]
  # window_size: 8
  # spatial_dim_head: 16
  # ffn_expansion_factor: 2.66
  # bias: false
  # LayerNorm_type: WithBias
  

# Optimizer settings
optimizer:
  type: ADAMW
  args:
    lr: 1.0e-4  # 初始学习率
    weight_decay: 0.0001
    momentum: 0.999
  # 为parent和distill阶段分别设置scheduler
  parent_scheduler:
    type: CosineAnnealingLR
    args:
      T_max: 500  # parent阶段的总epoch数
      eta_min: 1.0e-6  # parent阶段的最小学习率
  distill_scheduler:
    type: CosineAnnealingLR
    args:
      T_max: 500  # distill阶段的总epoch数
      eta_min: 1.0e-7  # distill阶段的最小学习率

# Training settings  
trainer:
  total_epochs: 1000
  parent_epochs: 500
  distill_weight: 0.6
  test_freq: 50
  save_top_k: 3
  ema: false
  clip_grad_norm: 1.0
# loss
loss_weights:
  feature_weight: 0.1 # 1e-2
  base_weight: 1.0 # 1
  result_weight: 1.0 # 1e-2
  feature_dim: [48, 16]
  # cc_weight: 5.0 # 1e-5 # 不使用

# Dataset configurations
MSRS: &dataset_default  # 使用锚点定义默认配置
  max_value: 255.0
  patch_size: 128
  data_augmentation: true
  data_dir:
    train_dir:
      data_dir_A: ./data/MSRS-main/MSRS-main/train/vi
      data_dir_B: ./data/MSRS-main/MSRS-main/train/ir
      text_dir: ./data/MSRS-main/MSRS-main/train/text
      # 留出10%用于val
      range: [0, 0.95]
    val_dir:
      data_dir_A: ./data/MSRS-main/MSRS-main/train/vi
      data_dir_B: ./data/MSRS-main/MSRS-main/train/ir
      text_dir: ./data/MSRS-main/MSRS-main/train/text
      range: [0.95, 1]
    test_dir:
      data_dir_A: ./data/MSRS-main/MSRS-main/test/vi
      data_dir_B: ./data/MSRS-main/MSRS-main/test/ir
      text_dir: ./data/MSRS-main/MSRS-main/test/text
      range: [0, 1]
    det_dir:
      data_dir_A: ./data/MSRS-main/MSRS-main/detection/vi
      data_dir_B: ./data/MSRS-main/MSRS-main/detection/ir
      range: [0, 1]
RS:
  <<: *dataset_default # 继承默认配置
  patch_size: 128
  data_dir:
    train_dir:
      data_dir_A: ./data/road-scene-infrared-visible-images-master/road-scene-infrared-visible-images-master/crop_LR_visible
      data_dir_B: ./data/road-scene-infrared-visible-images-master/road-scene-infrared-visible-images-master/cropinfrared
      text_dir: ./data/road-scene-infrared-visible-images-master/road-scene-infrared-visible-images-master/text
      range: [0, 0.85]
    val_dir:
      data_dir_A: ./data/road-scene-infrared-visible-images-master/road-scene-infrared-visible-images-master/crop_LR_visible
      data_dir_B: ./data/road-scene-infrared-visible-images-master/road-scene-infrared-visible-images-master/cropinfrared
      text_dir: ./data/road-scene-infrared-visible-images-master/road-scene-infrared-visible-images-master/text
      range: [0.85, 0.9]
    test_dir:
      data_dir_A: ./data/road-scene-infrared-visible-images-master/road-scene-infrared-visible-images-master/crop_LR_visible
      data_dir_B: ./data/road-scene-infrared-visible-images-master/road-scene-infrared-visible-images-master/cropinfrared
      text_dir: ./data/road-scene-infrared-visible-images-master/road-scene-infrared-visible-images-master/text
      range: [0, 1]
M3FD:
  <<: *dataset_default
  data_dir:
    train_dir:
      data_dir_A: ./data/M3FD_Fusion/Vis
      data_dir_B: ./data/M3FD_Fusion/Ir
      text_dir: ./data/M3FD_Fusion/text
      range: [0, 0.85]
    val_dir:
      data_dir_A: ./data/M3FD_Fusion/Vis
      data_dir_B: ./data/M3FD_Fusion/Ir
      text_dir: ./data/M3FD_Fusion/text
      range: [0.85, 0.9]
    test_dir:
      data_dir_A: ./data/M3FD_Fusion/Vis
      data_dir_B: ./data/M3FD_Fusion/Ir
      text_dir: ./data/M3FD_Fusion/text
      range: [0, 1]
loss_configs:
  task_configs:
    low_light:
      max_ratio: 48        # 12 * 4
      consist_ratio: 20    # 2 * 10
      text_ratio: 48       # 4 * 12
      ssim_ratio: 2        # 保持原有默认值
      color_ratio: 12      # 保持原有默认值
      ir_compose: 1        # 保持原有默认值
    over_exposure:
      max_ratio: 32        # 8 * 4
      consist_ratio: 60    # 6 * 10
      text_ratio: 48       # 4 * 12
      ssim_ratio: 2
      color_ratio: 12
      ir_compose: 1
    ir_low_contrast:
      max_ratio: 40        # 10 * 4
      consist_ratio: 40    # 4 * 10
      text_ratio: 48       # 4 * 12
      ssim_ratio: 2
      color_ratio: 12
      ir_compose: 1
    ir_noise:
      max_ratio: 32        # 8 * 4
      consist_ratio: 60    # 6 * 10
      text_ratio: 48       # 4 * 12
      ssim_ratio: 2
      color_ratio: 12
      ir_compose: 1
    motion_blur:
      max_ratio: 32        # 8 * 4
      consist_ratio: 40    # 4 * 10
      text_ratio: 72       # 6 * 12
      ssim_ratio: 2
      color_ratio: 12
      ir_compose: 1
    sensor_artifact:
      max_ratio: 24        # 6 * 4
      consist_ratio: 80    # 8 * 10
      text_ratio: 96       # 8 * 12
      ssim_ratio: 2
      color_ratio: 12
      ir_compose: 1
    high_noise:
      max_ratio: 32        # 8 * 4
      consist_ratio: 80    # 8 * 10
      text_ratio: 72       # 6 * 12
      ssim_ratio: 2
      color_ratio: 12
      ir_compose: 1
    default:
      max_ratio: 24        # 6 * 4
      consist_ratio: 40    # 4 * 10
      text_ratio: 48       # 4 * 12
      ssim_ratio: 2
      color_ratio: 12
      ir_compose: 1
